/*去掉标签的默认样式*/
body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea,dl,dt,dd,span
   {margin:0;
   padding:0;
   }
 ul,ol{
     list-style:none;
 }
a{
  text-decoration:none;
}
body{
  background:#fff;
}
*{
  font-family:"Microsoft YaHei",sans-serif;
  box-sizing:border-box;
}
img{
border:none;
}
/*内宽*/
$inner-width:1200px;

/*图片路径*/
$img-path:'../imgs/';

/*调试块*/
@mixin box{
	border:1px solid #000;
	background:red;
}

/*上下居中*/
@mixin  top-bottom{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

/*左右居中*/
@mixin left-right{
	left:0;
	right:0;
	margin:auto;
	position:absolute;
}

/*居中*/
@mixin center{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

/*建盒子*/
@mixin box1($w,$h){
	 width:$w;
	 height:$h;
}

/*正方形*/
@mixin cube($w){
	width:$w;
	height:$w;
}

/*圆*/
@mixin yuan($w){
	@include cube($w);
	border-radius:50%;
}

/*图片居中*/
@mixin img-center{
	max-width:100%;
	max-height:100%;
	@include center;
}
$d-list:320px,360px,375px,380px,384px,412px,414px,600px,768px,800px;
html{
    font-size: 100px;
}
body{
    font-size: 16px;
}
$design-size:750px;
@each $w in $d-list{
    @media screen and (min-width:#{$w}) {
        html{
            font-size:100px*$w/$design-size;
        }
    }
}
